*.o
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.dvi
auto
*.out
...Rcheck
.Rhistory
*~
*.so
rstpm2.Rcheck
*.Rnw.tex
_region_.tex
vignettes/*.tex
vignettes/*.pdf

NEWS.html
rstpm2*.tar.gz
..Rcheck
.Rproj.user
