*.o
*.aux
*.log
auto
*.out
...Rcheck
.Rhistory
*~
*.so
rstpm2.Rcheck
*.Rnw.tex
_region_.tex
Introduction-*.pdf
Introduction.tex
vignettes/predictnl*.pdf
vignettes/predictnl.tex
NEWS.html
rstpm2*.tar.gz
..Rcheck