##exportPattern("^[[:alpha:]]+")
useDynLib(rstpm2)
export(stpm2,stpm2Logit,stpm2Gen,pstpm2,incrVar,
       nsx,makepredictcall.nsx,predict.nsx,
       nsxDeriv,makepredictcall.nsxDeriv,predict.nsxDeriv,
       predictnl,predictnl.default
       )
exportMethods(
              "plot",
              "predict",
              "predictnl"
)
exportClasses(
    "listOrNULL",
     "mle2",
     "stpm2" 
)
importFrom(graphics,plot)
import(splines)
importFrom(stats,quantile,lm)
importFrom(survival,survfit,coxph,Surv)
import(bbmle)
import(mgcv)
importFrom(Rcpp,sourceCpp)
