useDynLib(rstpm2, .registration=TRUE)

export(stpm2,pstpm2,incrVar,nsx,predictnl,"coef<-",cox.tvc,aft,nsxD)
exportClasses(stpm2,pstpm2,tvcCoxph,aft)
S3method(makepredictcall, nsx)
S3method(predict, nsx)
S3method(makepredictcall, nsxD)
S3method(predict, nsxD)
## All methods for imported generics:
exportMethods(plot,predict,predictnl,coef,confint,summary,update,anova,vcov,formula,
              BIC,AIC,AICc,qAICc,simulate,residuals)

importFrom(graphics,plot,lines,matplot,par,polygon,abline,matlines)
## importFrom(splines,bs,ns,spline.des,splineDesign)
importFrom(stats, quantile, lm, as.formula, coef, makepredictcall, na.fail, predict,
           contrasts,delete.response, get_all_vars, model.extract, model.frame, 
           model.matrix, model.weights, na.pass, optimHess, pweibull, 
           terms, terms.formula, .checkMFClasses, .getXlevels, pchisq, printCoefmat,
           anova, var, residuals)
importFrom(mgcv,gam,s)
importFrom(Rcpp,sourceCpp)
import(bbmle,methods,survival,splines,numDeriv)


